<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head>
        <title>Chat WebSocket</title>
        <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
        <script th:src="@{/js/sockjs-0.3.4.js}" type="text/javascript"></script>
        <script th:src="@{/js/stomp.js}" type="text/javascript"></script>

        <div th:replace="fragments/header :: header-css"/>
    </head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div>
        <div>
            <h3>Chat demo</h3>
            <span> You logged in as </span>
            <b th:text="${user.name} + ' ' + ${user.surname}"></b>
            <form method="get" action="logOut">
                <input type="submit" value="Log Out">
            </form>
        </div>
        <div th:each="message : ${messages}">
            <div>
                <i th:text="${message.time}"></i>
                <b th:text="${message.user.name} + ' ' + ${message.user.surname} + ': '"></b>
                <span th:text="${message.content}"></span>
            </div>
        </div>
        <form method="post" action="#" th:action="@{/sendMessage}" th:object="${user}">
            <!--            <input type="hidden" name="token" th:value="${token}">-->
            <input type="hidden" name="id" th:value="${user.id}">
            <input type="hidden" name="name" th:value="${user.name}">
            <input type="hidden" name="surname" th:value="${user.surname}">
            <textarea type="text" name="message"></textarea>
            <input type="submit" value="Add message">
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
<script type="text/javascript">

    var stompClient = null;

    function setConnected(connected) {

        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        document.getElementById('response').innerHTML = '';
    }

    function connect() {

        var socket = new SockJS('/chat-window');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {

            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function(messageOutput) {

                showMessageOutput(JSON.parse(messageOutput.body));
            });
        });
    }

    function disconnect() {

        if(stompClient != null) {
            stompClient.disconnect();
        }

        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage() {

        var from = document.getElementById('from').value;
        var text = document.getElementById('text').value;
        stompClient.send("/chat-window", {}, JSON.stringify({'from':from, 'text':text}));
    }

    function showMessageOutput(messageOutput) {

        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(messageOutput.from + ": " + messageOutput.text + " (" + messageOutput.time + ")"));
        response.appendChild(p);
    }

</script>

</head>

<body onload="disconnect()">

<div>


    <div>
        <input type="text" id="from" placeholder="Choose a nickname"/>
    </div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>
